body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f5f5f5;
    padding: 20px;
}



.container {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}



h2 {
    text-align: center;
    color: #333;
}



label {
    font-weight: bold;
    margin-top: 10px;
}



input, textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}



button, .btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #6F23CC;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}



.card{
    background: #fafafa;
    padding: 20px;
    border-radius: 10px;
    border-left: 4px solid #6F23CC;
}



img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

